@import "tailwindcss";

@theme {
  --color-brand-50: #f0f9ff;
  --color-brand-100: #e0f2fe;
  --color-brand-500: #0ea5e9;
  --color-brand-600: #0284c7;
  --color-brand-900: #0c4a6e;

  --color-dark-bg: #0f172a;
  --color-dark-surface: #1e293b;
  --color-dark-border: #334155;
  
  --font-sans: Inter, sans-serif;
}

body {
  @apply bg-dark-bg text-slate-200 antialiased;
}

.glass {
  @apply bg-dark-surface/70 backdrop-blur-md border border-white/5;
}
